[Unit]
Description=Gorilla Results DB
Requires=postgresql.service

[Service]
Type=simple
Restart=always
RestartSec=5
ExecStart=/opt/grll/gorilla -www /opt/grll/www

[Install]
WantedBy=multi-user.target
